parameters:
    ignoreErrors:
        - '#Call to an undefined method AskLucy\\Expression\\Clause\\Clause\:\:exclusive\(\)\.#'
        - '#Call to an undefined method AskLucy\\Expression\\Clause\\Clause\:\:inclusive\(\)\.#'
        - '#Method AskLucy\\Expression\\Clause\\Phrase\:\:getProximitySpecification\(\) should return string but returns AskLucy\\Expression\\Proximity\|string\.#'
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
